<!-- <?xml version="1.0" encoding="UTF-8" ?> -->
<!-- <!DOCTYPE hibernate-configuration PUBLIC -->
<!--         "-//Hibernate/Hibernate Configuration DTD 3.0//EN" -->
<!--         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd"> -->
<!-- <hibernate-configuration> -->
<!--     <session-factory> -->
<!--         jdbc connection setting -->
<!--         <property name="connection.driver.class">com.mysql.cj.jdbc.Driver</property> -->
<!--         <property name="connection.url">jdbc:mysql://localhost:3306/my_hibernate</property> -->
<!--         <property name="connection.username">root</property> -->
<!--         <property name="connection.password">password</property> -->

<!--         jdbc connection pool settings... using built-in test pool -->
<!--         <property name="connection.pool.size">1</property> -->

<!--         select our SQL Dialect -->
<!--         <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property> -->

<!--         <property name="hbm2ddl.auto">update</property> -->

<!--         Echo the SQL to stdout -->
<!--         <property name="show_sql">true</property> -->
<!--         <property name="format_sql">true</property> -->

<!--         set the current session context -->
<!--         <property name="current_session_context_class">thread</property> -->

<!--         <mapping class="com.g2b8.tta.g2b8_bed_gradedproject3.model.Ticket"></mapping>         -->
<!--     </session-factory> -->
<!-- </hibernate-configuration> -->